---
import BaseLayout from '../layouts/BaseLayout.astro'
let title = 'Yamaç Kurtuluş - Computer Scientist'
---

<html lang="tr">
  <head>
    <style>
      header {
        display: flex;
        flex-direction: row;
        gap: 1em;
        max-width: min(100%, 68ch);
      }
    </style>

    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
  </head>

  <BaseLayout title={title}>
    <body>
      <main>
        <header>
          <div>
            <img width="60" height="80" src="/assets/logo.svg" alt="Astro logo" />
            <h1>
              Welcome to <a href="https://astro.build/">Astro</a>
            </h1>
          </div>
        </header>
      </main>
    </body>
  </BaseLayout>
</html>
