---
import BaseLayout from '../layouts/BaseLayout.astro'
let title = 'Yamaç Kurtuluş - Computer Scientist'
---

<html lang="tr">
  <head>
    <style>
      header {
        display: flex;
        flex-direction: row;
        gap: 1em;
        max-width: min(100%, 68ch);
      }
    </style>
  </head>

  <body>
    <main>
      <header>
        <div>
          <h1></h1>
        </div>
      </header>
      <BaseLayout title="hello" />
    </main>
  </body>
</html>
