---
import BaseLayout from '../layouts/BaseLayout.astro'
import Card from '../components/Card/Card.vue'
const title = '~/'
const metaDescription = 'Yo'
---

<BaseLayout {title} {metaDescription}>
  <div class="container mx-auto rounded-md shadow-lg outline-none text-main-purple outline-8">
    <div class="w-auto py-1 text-3xl text-left">Hi! I am</div>
    <div class="w-auto py-1 text-left text-7xl">Yamaç Kurtuluş</div>
    <div class="py-1 text-3xl text-left">I throw away code!</div>
    <div class="flex"></div>
  </div>

  <Card class="pt-8 text-lg text-main-purple"
    >I am a computer scientist from Turkey with a broad number of interests. Currently I am currently working as a
    devOps & Backend engineer at a small start-up, <a href="https://www.casca.co.uk" class="underline">Casca</a>.
    Recently I took an interest in frontend as well. This place is a long-procrastinated personal page where I plan to
    rant, throw my opinions on technology around, and experiment with shiny things.
  </Card>
</BaseLayout>
