---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogCard from '../../components/Card/BlogCard.vue'
const title = '~$ markdown ./rant.md'
const metaDescription = 'YoYo'
const posts = Astro.fetchContent('./*.md')
const previews = posts.sort((a, b) => (a.date < b.date ? 1 : -1))
---

<BaseLayout {title} {metaDescription}>
  <div class="container mx-auto text-main-light-blue">
    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      {previews.map((item) => <BlogCard item={item} />)}
    </div>
  </div>
</BaseLayout>
