@tailwind base;

@layer base {
  .h1 {
    @apply hidden;
  }
  .h2 {
    @apply hidden;
  }
  .h3 {
    @apply font-sans text-2xl;
  }
  .h4 {
    @apply font-sans text-xl font-bold;
  }
  .h5 {
    @apply font-sans text-lg;
  }
  .h6 {
    @apply font-sans text-lg italic;
  }
}

@tailwind components;

@tailwind utilities;

.btn {
  @apply px-2 py-1 font-bold bg-blue-600 rounded;
}

[v-cloak] {
  display: none;
}