---
export interface Props {
  currentPage: string
}

const { currentPage } = Astro.props

function isActive(url) {
  var section = url.split('/')[1]
  if (section === { currentPage }) {
    return 'currentPage'
  } else {
    return ''
  }
}

const links = [
  { href: '/projects', label: 'Projects' },
  { href: '/blog', label: 'Blog' },
  { href: '/about', label: 'About' },
  { href: '/contact', label: 'Contact' },
]
---

<nav>
  <div class="container flex m-auto mb-4 text-pink-600">
    <div id="homelink" class="w-1/2 m-8 flex-initialize">
      <a href="/" class={'/' === currentPage ? 'active' : ''}>Home</a>
    </div>
    <div class="w-1/2 flex-initialize">
      <ul id="pagelinks" class="flex flex-row-reverse">
        {links.map((item) => (
          <li class="flex object-right m-8 text-right transition hover:transition-all hover:text-lg">
            <div>
              <a href={item.href} class={item.href === currentPage ? 'active' : ''}>
                {item.label}
              </a>
            </div>
          </li>
        ))}
      </ul>
    </div>
  </div>
</nav>

<style>
  .active {
    @apply text-blue-300 font-bold text-lg;
  }
</style>
