---
import HeadLayout from './HeadLayout.astro'
import Navbar from '../components/Navbar/Navbar.vue'
//import Navbar2 from '../components/Navbar.astro'
const currentPage = Astro.request.url.pathname
const { title } = Astro.props
const { metaDescription } = Astro.props
---

<html>
<head>
    <HeadLayout />
    </head>
  <body>
  
    <!-- slot: your page content will be injected here. -->
    <div class="h-screen bg-gray-900">
      <Navbar client:visible currentPage={currentPage.split('/')[1]}/>
      <!-- Only send the level-1 directory -->
      <slot />
    </div>
  </body>
</html> 
