---
import Navbar from '../components/Navbar.vue'
const { title } = Astro.props
const { metaDescription } = Astro.props
const currentPage = Astro.request.url.pathname
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={metaDescription} />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
    <title>
      {title}
    </title>
  </head>

  <body>
    <!-- slot: your page content will be injected here. -->

    <div class="h-screen bg-black">
      <Navbar currentPage={currentPage.slice(1)} />
      <!-- strip leading slash -->
      <slot />
    </div>
  </body>
</html>
