---
import Navbar from '../components/Navbar.vue'
const { title } = Astro.props
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <title>
      {title}
    </title>
  </head>

  <body>
    <!-- slot: your page content will be injected here. -->
    <Navbar />
    <div class=" bg-indigo-400 min-h-screen">
      <div class="container mx-auto flex">
        <slot />
      </div>
    </div>
  </body>
</html>
