---
import HeadLayout from './HeadLayout.astro'
import Navbar from '../components/Navbar/Navbar.vue'
//import Navbar2 from '../components/Navbar.astro'
const currentPage = Astro.request.url.pathname
const { title } = Astro.props
const { metaDescription } = Astro.props
---

<html>
  <head>
    <HeadLayout {title} {metaDescription} />
  </head>
  <body>
    <div class="h-min-h-screen mx-auto bg-gray-900">
      <Navbar client:visible currentPage={currentPage.split('/')[1]} />
      <div class="xl:max-w-screen-lg lg:max-w-screen-md container mx-auto">
        <!-- slot: your page content will be injected here. -->
        <slot />
      </div>
    </div>
  </body>
</html>
