---
import HeadLayout from './HeadLayout.astro'
import Navbar from '../components/Navbar/Navbar.vue'
//import Navbar2 from '../components/Navbar.astro'
const currentPage = Astro.request.url.pathname
const { title } = Astro.props
const { metaDescription } = Astro.props
---

<html
  ><head>
    <HeadLayout {title} {metaDescription} />
  </head>
  <body>
    <div class="min-h-screen mx-auto bg-gray-900 h-max text-main-light-blue">
      <Navbar client:visible currentPage={currentPage.split('/')[1]} />

      <div
        class="container px-4 py-32 mx-auto scroll-py-32 lg:px-0 xl:max-w-screen-lg lg:max-w-screen-md md:max-w-screen-sm"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
