---
//This is the common head on every page.
const { title, metaDescription } = Astro.props
const canonicalUrl = Astro.request.canonicalURL
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={metaDescription} />
<link rel="canonical" href={canonicalUrl} />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="stylesheet" href={Astro.resolve('../styles/global.css')} />
<script defer data-domain="yam.ac" src="https://tracking.yam.ac/js/plausible.js"></script>
<title>
  {title}
</title>
